In [6]:
#Add the panda dependency
import pandas as pd

In [10]:
#file to load
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

In [4]:
#Read the school file and save it in the panda DataFrame
school_data_df = pd.read_csv(school_data_to_load)
school_data_df

            School ID,school_name,type,size,budget
0        0,Huang High School,District,2917,1910635
1     1,Figueroa High School,District,2949,1884411
2       2,Shelton High School,Charter,1761,1056600
3    3,Hernandez High School,District,4635,3022020
4        4,Griffin High School,Charter,1468,917500
5        5,Wilson High School,Charter,2283,1319574
6       6,Cabrera High School,Charter,1858,1081356
7       7,Bailey High School,District,4976,3124928
8          8,Holden High School,Charter,427,248087
9            9,Pena High School,Charter,962,585858
10      10,Wright High School,Charter,1800,1049400
11  11,Rodriguez High School,District,3999,2547363
12    12,Johnson High School,District,4761,3094650
13       13,Ford High School,District,2739,1763916
14      14,Thomas High School,Charter,1635,1043130

In [11]:
#Read the studendt data file and store in panda DataFrame.
student_data_df = pd.read_csv(student_data_to_load)
student_data_df

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84
...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75

In [16]:
# Determine if there are any missing values in the school data.
school_data_df.notnull().sum()

School ID,school_name,type,size,budget    15
dtype: int64

In [12]:
# Determine if there are any missing values in the school data.
student_data_df.notnull().sum()

Student ID       39170
student_name     39170
gender           39170
grade            39170
school_name      39170
reading_score    39170
math_score       39170
dtype: int64

In [7]:

#Add each prefix and suffix to remove to list
prefixes_suffixes = ["Dr. ", "Mr. ","Ms. ", "Mrs. ", "Miss ", " MD", " DDS", " DVM", " PhD"]
for word in prefixes_suffixes:
    student_data_df["student_name"] = student_data_df["student_name"].str.replace(word,"")
print(student_data_df)

       Student ID     student_name gender grade         school_name  \
0               0     Paul Bradley      M   9th   Huang High School
1               1     Victor Smith      M  12th   Huang High School
2               2  Kevin Rodriguez      M  12th   Huang High School
3               3    Richard Scott      M  12th   Huang High School
4               4       Bonnie Ray      F   9th   Huang High School
...           ...              ...    ...   ...                 ...
39165       39165     Donna Howard      F  12th  Thomas High School
39166       39166        Dawn Bell      F  10th  Thomas High School
39167       39167   Rebecca Tanner      F   9th  Thomas High School
39168       39168     Desiree Kidd      F  10th  Thomas High School
39169       39169  Carolyn Jackson      F  11th  Thomas High School

       reading_score  math_score
0                 66          79
1                 94          61
2                 90          60
3                 67          58
4                 97          84
...              ...         ...
39165             99          90
39166             95          70
39167             73          84
39168             99          90
39169             95          75

[39170 rows x 7 columns]

In [30]:
#4.7.1 # Combine the data into a single dataset.
school_data_complete_df = pd.merge(student_data_df, school_data_df, on=["school_name", "school_name"])
school_data_complete_df.head()

KeyError: 'school_name'

In [27]:
# count number of students
student_count = school_data_complete_df["Student ID"].count()
student_count

NameError: name 'school_data_complete_df' is not defined

In [23]:
#count number of schools
school_count = school_data_complete_df["school_name"].unique()
school_count.count()

NameError: name 'school_data_complete_df' is not defined

In [2]:
#4.7.4 calculate the total budget.
total_budget = school_data_df["budget"].sum()
total_budget

NameError: name 'school_data_df' is not defined

In [3]:
# Calculate the average reading score.
average_reading_score = school_data_complete_df["reading_score"].mean()
average_reading_score

NameError: name 'school_data_complete_df' is not defined

In [6]:
# Calculate the average math score.
average_math_score = school_data_complete_df["math_score"].mean()
average_math_score

NameError: name 'school_data_complete_df' is not defined

In [12]:
#Determine the passing grade
passing_math = school_data_complete_df["math_score"] >= 70
passing_reading = school_data_complete_df["reading_score"] >= 70

NameError: name 'school_data_complete_df' is not defined

In [11]:
passing_math

NameError: name 'passing_math' is not defined

In [3]:
# Get all the students who are passing math in a new DataFrame.
passing_math = school_data_complete_df[school_data_complete_df["math_score"] >= 70]
passing_math.head()

NameError: name 'school_data_complete_df' is not defined

In [ ]:
# Get all the students that are passing reading in a new DataFrame.
passing_reading = school_data_complete_df[school_data_complete_df["reading_score"] >= 70]

In [4]:
# Calculate the number of students passing math.
passing_math_count = passing_math["student_name"].count()

# Calculate the number of students passing reading.
passing_reading_count = passing_reading["student_name"].count()
print(passing_math_count)
print(passing_reading_count)

NameError: name 'passing_math' is not defined

In [18]:
# Calculate the percent that passed math.
passing_math_percentage = passing_math_count / float(student_count) * 100

# Calculate the percent that passed reading.
passing_reading_percentage = passing_reading_count / float(student_count) * 100

print(passing_math_percentage)
print(passing_reading_percentage)

NameError: name 'passing_math_count' is not defined

In [19]:
#calculate the student that passed both math & reading.
passing_math_reading = school_data_complete_df[(school_data_complete_df["math_score"] >= 70) & (school_data_complete_df["reading_score"] >= 70)]

passing_math_reading.head()

NameError: name 'school_data_complete_df' is not defined

In [20]:
#calculate the number of student that passed both math & reading
overall_passing_math_reading_count = passing_math_reading["student_name"].count()

overall_passing_math_reading_count

NameError: name 'passing_math_reading' is not defined

In [21]:
#calculate the overall passing percentage.
overall_passing_percentage = overall_passing_math_reading_count / student_count * 100
overall_passing_percentage

NameError: name 'overall_passing_math_reading_count' is not defined

In [34]:
# Adding a list of values with keys to create a new DataFrame.
district_summary_df = pd.DataFrame(
          [{"Total Schools": school_count,
          "Total Students": student_count,
          "Total Budget": total_budget,
          "Average Math Score": average_math_score,
          "Average Reading Score": average_reading_score,
          "% Passing Math": passing_math_percentage,
         "% Passing Reading": passing_reading_percentage,
        "% Overall Passing": overall_passing_percentage}])
district_summary_df

NameError: name 'school_count' is not defined

In [ ]:
# Format the columns.
district_summary_df["Total Schools"] = district_summary_df["Total Schools"].map("{:.0f}".format)

district_summary_df["Total Students"] = district_summary_df["Total Students"].map("{:,}".format)

district_summary_df["Total Budget"] = district_summary_df["Total Budget"].map("${:,.2f}".format)

district_summary_df["Average Math Score"] = district_summary_df["Average Math Score"].map("{:.1f}".format)

district_summary_df["Average Reading Score"] = district_summary_df["Average Reading Score"].map("{:.1f}".format)

district_summary_df["% Passing Math"] = district_summary_df["% Passing Math"].map("{:.0f}".format)

district_summary_df["% Passing Reading"] = district_summary_df["% Passing Reading"].map("{:.0f}".format)

district_summary_df["% Overall Passing"] = district_summary_df["% Overall Passing"].map("{:.0f}".format)

In [36]:
#display the district summary data
district_summary_df

NameError: name 'district_summary_df' is not defined

In [37]:
# Reorder the columns in the order you want them to appear.
new_column_order = ["Total Schools", "Total Students", "Total Budget","Average Math Score", "Average Reading Score", 
                    "% Passing Math", "% Passing Reading", "% Overall Passing"]

# Assign district summary df the new column order.
district_summary_df = district_summary_df[new_column_order]
district_summary_df

NameError: name 'district_summary_df' is not defined